name: Vault JWT Example

on:
  push:
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  vault-job:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Vault
        uses: hashicorp/vault-action@v2
        with:
          method: jwt
          path: jwt-github
          role: github-action-role
          url: https://cca-public-vault-85315103.c755c6be.z1.hashicorp.cloud:8200
          namespace: admin

      - name: Verify login
        run: |
          vault token lookup
