name: Vault OIDC Example
on:
  push:
    branches:
      - main

jobs:
  vault-job:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      VAULT_ADDR: "https://cca-public-vault-85315103.c755c6be.z1.hashicorp.cloud:8200"
      VAULT_NAMESPACE: "admin"
    steps:
      - uses: actions/checkout@v3

      - name: Install Vault CLI
        run: |
          curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update && sudo apt install vault -y

      - name: Vault OIDC Login
        run: |
          vault login -method=oidc role=github-action-role

      - name: Read secret from Vault
        run: |
          SECRET=$(vault kv get -field=password secret/data/my-app)
          echo "Vault secret: $SECRET"
